.center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

h1{
    margin-bottom: 20px;
}

form{
    border: 1px solid #CED4DA;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
}

.form-control-sm{
    margin-bottom: 10px;
}

.ta{
    resize: none;
}

.btnc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnc .btn:last-child{
    margin-left: 20px;
}

.avatar{
    background-image: url("https://www.morethanjustasmile.com/wp-content/uploads/person-placeholder.jpg");
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-bottom: 20px;
}

@media screen and (max-width: 720px) {
    .ta{
        display: none;
    }
    label[for=shinfo]{
        display: none;
    }
}